<nav className = 'col s12 m8 l9'>

  <div class="nav-wrapper hoverable">
    <a class="brand-logo center ">Drink and Thrive</a>

    <ul id="nav-mobile" class="right ">
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete  %> </li>
    </ul>
  </div>
</nav>

