<nav>
  <div class="nav-wrapper hoverable">
    <a class="brand-logo center ">Drink and Thrive</a>
    
    <ul id="nav-mobile" class="left ">
      <li><a href="view/dashboard/index" >Home</a></li>
    </ul>

    <ul id="nav-mobile" class="right ">
      <li><a href="/FIXLATER">Log out</a></li>
    </ul>
  </div>
</nav>

